<mat-card class="fundo1">
  <div class="cor-normal">
    <mat-card-title>Novo Cliente</mat-card-title>
  </div>

  <div class="com-cor-diferente">
    <mat-card-title>Informações Pessoais</mat-card-title>
  </div>

  <form>
    <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="cliente.cliNome" name="cliNome">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput [(ngModel)]="cliente.cliCpf" name="cliCpf">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="cliente.cliStatus" name="cliStatus">
          <mat-option value="Ativo">Ativo</mat-option>
          <mat-option value="Inativo">Inativo</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
  </form>  

    <!-- Seção: Endereço -->
  <div class="com-cor-diferente">
    <mat-card-title>Endereco</mat-card-title>
  </div>
  <form>
    <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Rua</mat-label>
      <input matInput [(ngModel)]="cliente.endRua" name="endRua">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Número</mat-label>
      <input matInput [(ngModel)]="cliente.endNumero" name="endNumero">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cidade</mat-label>
      <input matInput [(ngModel)]="cliente.endCidade" name="endCidade">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bairro</mat-label>
      <input matInput [(ngModel)]="cliente.endBairro" name="endBairro">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput [(ngModel)]="cliente.endCep" name="endCep">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <input matInput [(ngModel)]="cliente.endEstado" name="endEstado">
    </mat-form-field>
    </div>
  </form>
  
    <!-- Seção: Contato -->
  <div class="com-cor-diferente">
    <mat-card-title>Contato</mat-card-title>
  </div>
  <form>
    <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Celular</mat-label>
      <input matInput [(ngModel)]="cliente.conCelular" name="conCelular">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone Comercial</mat-label>
      <input matInput [(ngModel)]="cliente.conTelefoneComercial" name="conTelefoneComercial">
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo full-width">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="cliente.conEmail" name="conEmail">
    </mat-form-field>
    </div>

    <!-- Botões -->
    <div class="botoes">
      <button class="btnSave" color="primary" (click)="createCliente()">Salvar</button>
      <button class="btnCancel" color="warn" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</mat-card>