<mat-card class="fundo1">
  <div class="cor-normal">
  <mat-card-title>
    <mat-icon style="vertical-align: middle; margin-right: 6px;">add_box</mat-icon>
    Novo Produto
  </mat-card-title>
  </div>

    <form>
      <div class="form-grid">
      <!-- Nome do Produto -->
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" [(ngModel)]="product.proNome" name="proNome" required>
      </mat-form-field>

      <!-- Preço de Custo -->
      <mat-form-field appearance="outline">
        <mat-label>Preço de Custo</mat-label>
        <input matInput type="number" placeholder="Preço de custo (R$)" [(ngModel)]="product.proPrecoCusto" name="proPrecoCusto" step="0.01" min="0" required>
      </mat-form-field>

      <!-- Preço de Venda -->
      <mat-form-field appearance="outline">
        <mat-label>Preço de Venda</mat-label>
        <input matInput type="number" placeholder="Preço de venda (R$)" [(ngModel)]="product.proPrecoVenda" name="proPrecoVenda" step="0.01" min="0" required>
      </mat-form-field>

      <!-- Quantidade em Estoque -->
      <mat-form-field appearance="outline">
        <mat-label>Estoque</mat-label>
        <input matInput type="number" placeholder="Estoque" [(ngModel)]="product.proEstoque" name="proEstoque" min="0" required>
      </mat-form-field>

      <!-- Descrição -->
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Descrição" [(ngModel)]="product.proDescricao" name="proDescricao" required>
      </mat-form-field>

      <!-- Categoria -->
      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <input matInput placeholder="Categoria" [(ngModel)]="product.proCategoria" name="proCategoria" required>
      </mat-form-field>

      <!-- Código de Barras -->
      <mat-form-field appearance="outline">
        <mat-label>Código de Barras</mat-label>
        <input matInput placeholder="Código de barras" [(ngModel)]="product.proCodigoBarras" name="proCodigoBarras" required>
      </mat-form-field>

      <!-- Marca -->
      <mat-form-field appearance="outline">
        <mat-label>Marca</mat-label>
        <input matInput placeholder="Marca" [(ngModel)]="product.proMarca" name="proMarca" required>
      </mat-form-field>

      <!-- Produto Ativo -->
      <mat-form-field appearance="outline">
        <mat-label>Produto Ativo?</mat-label>
        <mat-select [(ngModel)]="product.proAtivo" name="proAtivo">
          <mat-option value="Ativo">Ativo</mat-option>
          <mat-option value="Inativo">Inativo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Frete Gratis?</mat-label>
        <mat-select [(ngModel)]="product.proFreteGratis" name="proFreteGratis">
          <mat-option value="Sim">Sim</mat-option>
          <mat-option value="Não">Não</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Data de Cadastro -->
      <mat-form-field appearance="outline">
        <mat-label>Data de Cadastro</mat-label>
        <input matInput [matDatepicker]="picker1" placeholder="Data de Cadastro" [(ngModel)]="product.proDataCadastro" name="proDataCadastro" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <!-- Data de Atualização -->
      <mat-form-field appearance="outline">
        <mat-label>Data de Atualização</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Data de Atualização" [(ngModel)]="product.proDataAtualizacao" name="proDataAtualizacao" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      </div>

      <div class="forne">
      <!-- Fornecedor -->
      <mat-form-field appearance="outline" class="full-width custom-select">
        <mat-label>Fornecedor</mat-label>
        <mat-select [(ngModel)]="product.fornecedor" name="fornecedor" required>
          <mat-option *ngFor="let fornecedor of fornecedores" [value]="{ forId: fornecedor.forId }">
            {{ fornecedor.forNomeFantasia }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>

      <!-- Botões -->
      <div class="botoes">
        <button class="btnSave" (click)="createProduct()" color="primary">
          Salvar
        </button>

        <button class="btnCancel" (click)="cancel()">
          Cancelar
        </button>
      </div>
    </form>
</mat-card>