/* Estilização da área principal da página */
main {
    min-height: 75vh; /* Define a altura mínima do conteúdo principal */
    padding: 40px 20px; /* Espaçamento interno do conteúdo */
    
}

/* Estilização dos cartões (mat-card do Angular Material) */
mat-card {
    border-radius: 10px;
    background: linear-gradient(135deg, #f8f1f1 0%, #910000 100%);
    box-shadow: 0 4px 15px rgba(46, 1, 150, 0.2); /* Sombra combinando com o botão roxo */
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilização padrão dos botões */
button {
    margin-bottom: 30px;
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    color: rgb(255, 255, 255);
    background-color: rgb(75, 102, 2);

    border-radius: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Efeito visual ao clicar no botão */
button:active {
    transform: scale(0.95); /* Efeito de "afundar" levemente ao clicar */
    box-shadow: 0 3px 12px rgba(129, 2, 2, 0.4); /* Redução da sombra para simular profundidade */
}
.pesquisa {
    margin: 10px;
    padding: 10px 20px;
    width: 280px;
    border: 2px solid #fa0202; /* tom roxo */
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease-in-out;

}

/*.form-grid {
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px 0px 5px 0px;
}*/

.pesquisa:focus {
    border-color: #048af7;
    box-shadow: 0 0 8px #242424;
}