<main>
  <mat-card>
    <div class="form-grid">
      <input 
        type="text" 
        placeholder="Pesquisar produto" 
        [(ngModel)]="searchTerm" 
        (input)="filterProducts()" 
        class="pesquisa">

      <!-- O botão será posicionado no canto superior direito -->
      <button 
        mat-raised-button 
        (click)="navigateToProductCreate()" 
        color="primary" 
        class="novo-produto-btn">
        Novo Produto +
      </button>
    </div>
  <app-product-read [products]="filteredProducts"></app-product-read>  
  </mat-card> 
</main>