<mat-card>
    <mat-card-title class="titulo">Excluir Forma de Pagamento</mat-card-title>
    <form>
        <div class="form-grid">
        <mat-form-field appearance="outline">
            <mat-label>Pagamento</mat-label>
            <mat-select disabled name="fpgCredito" required [(ngModel)]="formaPagamento.fpgCredito" >
                <mat-option value="Credito">Crédito</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>O Dia do Fechamento</mat-label>
            <mat-select disabled name="fpgFechamento" required [(ngModel)]="formaPagamento.fpgFechamento" >
                <mat-option value="06">06</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="22">22</mat-option>
                <mat-option value="27">27</mat-option>
            </mat-select>
        </mat-form-field>

            <!--Permite parcelamento-->
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select disabled name="fpgStatus" required [(ngModel)]="formaPagamento.fpgStatus" >
                <mat-option value="Ativo">Ativo</mat-option>
                <mat-option value="inativo">inativo</mat-option>
            </mat-select>
        </mat-form-field>
        </div>

            <!--Descrição-->
        <mat-form-field appearance="outline" class="full-width custom-select">
            <mat-label>Descrição</mat-label>
            <textarea disabled matInput placeholder="Descrição" name="fpgDescricao" required [(ngModel)]="formaPagamento.fpgDescricao"></textarea>
        </mat-form-field>
    </form>

    <div class="botoes">
      <button class="btnSave" color="primary" (click)="deleteFormaPagamento()">Excluir</button>
      <button class="btnCancel" color="warn" (click)="cancel()">Cancelar</button>
    </div>
</mat-card>