<main>
    <mat-card>
    <div class="form-grid">    
        <input 
            type="text" 
            placeholder="Pesquisar fornecedor" 
            [(ngModel)]="searchTerm" 
            (input)="filterFornecedor()"
            class="pesquisa">
        
        <button 
            mat-raised-button 
            (click)="navigateToFornecedorCreate()" 
            color="primary"
            class="novo-produto-btn">
            Novo fornecedor +
        </button> 
    </div>
    <app-fornecedor-read [fornecedor]="filteredFornecedor"></app-fornecedor-read>
    </mat-card>
</main>