<mat-card class="fundo1">
    <div class="cor-normal">
    <mat-card-title class="titulo">Nova Forma de Pagamento</mat-card-title>
    </div>
    <form>
        <div class="form-grid">
        <mat-form-field appearance="outline">
            <mat-label>Pagamento</mat-label>
            <mat-select name="fpgCredito" required [(ngModel)]="formaPagamento.fpgCredito" >
                <mat-option value="Credito">Crédito</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>O Dia do Fechamento</mat-label>
            <mat-select name="fpgFechamento" required [(ngModel)]="formaPagamento.fpgFechamento" >
                <mat-option value="06">06</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="22">22</mat-option>
                <mat-option value="27">27</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select name="fpgStatus" required [(ngModel)]="formaPagamento.fpgStatus" >
                <mat-option value="Ativo">Ativo</mat-option>
                <mat-option value="inativo">inativo</mat-option>
            </mat-select>
        </mat-form-field>
        </div>

            <!--Descrição-->
        <div class="desc">
        <mat-form-field appearance="outline" class="full-width custom-select">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Descrição" name="fpgDescricao" required [(ngModel)]="formaPagamento.fpgDescricao"></textarea>
        </mat-form-field>
        </div>
    </form>

    <!-- Botão para salvar a nova forma de pagamento -->
    <div class="botoes">
      <button class="btnSave" color="primary" (click)="createFormaPagamento()">Salvar</button>
      <button class="btnCancel" color="warn" (click)="cancel()">Cancelar</button>
    </div>
</mat-card>